# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
#*.lai
#*.la
#*.a

# Compiled executables
*.exe

# Codeblocks layout and dependencies projectfiles
*.layout
*.depend

# Ignore shader folder (copy the wanted shader version to this path)
/Build/Win32/Data/Shaders/

# Specific netbeans project-paths
/Project/Netbeans/TrafficController/build/
/Project/Netbeans/TrafficController/dist/